<link rel="stylesheet" href="../css/busca.css">
<div class="card-deck-wrapper">
<div class="card-deck">
  <div class="perfil">
    <div class="card">
      <img class="card-img-top" src="../img/user.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Neilson Venute</h5>
        <h6>Desenvolvedor</h6>
        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable"><i class="fas fa-id-card"></i> Perfil</button>
        <button class=" btn btn-danger"><i class="fas fa-star"></i> Avaliações</button>
        {{!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> --}}
      </div>
      <div class="card-footer">
        <small class="text-muted">Último serviço prestado: 08/11/2019</small>
      </div>
    </div>
  </div>

  <div class="perfil">
    <div class="card">
      <img class="card-img-top" src="../img/user.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Pedro Henrique</h5>
        
        <h6>Administrador de Redes</h6>
        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable"><i class="fas fa-id-card"></i> Perfil</button>
        <button class=" btn btn-danger"><i class="fas fa-star"></i> Avaliações</button>
      </div>
      <div class="card-footer">
        <small class="text-muted">Último serviço prestado: 31/10/2019</small>
      </div>
    </div>
  </div>

  <div class="perfil">
    <div class="card">
      <img class="card-img-top" src="../img/user.jpg" alt="Card image cap">

      <div class="card-body">
        <h5 class="card-title">Rodrigo Lima</h5>
        <h6>Designer</h6>
        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable"><i class="fas fa-id-card"></i> Perfil</button>
        <button class=" btn btn-danger"><i class="fas fa-star"></i> Avaliações</button>
      </div>
      <div class="card-footer">
        <small class="text-muted">Último serviço prestado: 11/11/2019</small>
      </div>
    </div>
  </div>

  <div class="perfil">
    <div class="card">
      <img class="card-img-top" src="../img/user.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Eliete Miranda</h5>
        <h6>Desenvolvedor Web</h6>
        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable"><i class="fas fa-id-card"></i> Perfil</button>
        <button class=" btn btn-danger"><i class="fas fa-star"></i> Avaliações</button>
      </div>
      <div class="card-footer">
        <small class="text-muted">Último serviço prestado: 08/11/2019</small>
      </div>
    </div>
  </div>

  <div class="perfil">
    <div class="card">
      <img class="card-img-top" src="../img/user.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mayra Oliveira</h5>
        <h6>Administrador de Banco de Dados</h6>
        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable"><i class="fas fa-id-card"></i> Perfil</button>
        <button class=" btn btn-danger"><i class="fas fa-star"></i> Avaliações</button>
      </div>
      <div class="card-footer">
        <small class="text-muted">Último serviço prestado: 31/10/2019</small>
      </div>
    </div>
  </div>

  <div class="perfil">
    <div class="card">
      <img class="card-img-top" src="../img/user.jpg" alt="Card image cap">

      <div class="card-body">
        <h5 class="card-title">Charlesson Victor</h5>
        <h6>Engenheiro de Software</h6>
        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable"><i class="fas fa-id-card"></i> Perfil</button>
        <button class=" btn btn-danger"><i class="fas fa-star"></i> Avaliações</button>
      </div>
      <div class="card-footer">
        <small class="text-muted">Último serviço prestado: 11/11/2019</small>
      </div>
    </div>
  </div>

  {{!-- <div class="perfil">
    <div class="card">
      <img class="card-img-top" src="../img/user.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Eliete Miranda</h5>
        <h6>Desenvolvedor Web</h6>
        <button class="btn">Ver Perfil</button>
      </div>
      <div class="card-footer">
        <small class="text-muted">Último serviço prestado: 08/11/2019</small>
      </div>
    </div>
  </div>

  <div class="perfil">
    <div class="card">
      <img class="card-img-top" src="../img/user.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mayra Oliveira</h5>
        <h6>Administrador de Banco de Dados</h6>
        <button class="btn">Ver Perfil</button>
      </div>
      <div class="card-footer">
        <small class="text-muted">Último serviço prestado: 31/10/2019</small>
      </div>
    </div>
  </div>

  <div class="perfil">
    <div class="card">
      <img class="card-img-top" src="../img/user.jpg" alt="Card image cap">

      <div class="card-body">
        <h5 class="card-title">charlesson Victor</h5>
        <h6>Engenheiro de Software</h6>
        <button class="btn">Ver Perfil</button>
      </div>
      <div class="card-footer">
        <small class="text-muted">Último serviço prestado: 11/11/2019</small>
      </div>
    </div>
  </div> --}}
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Neilson Venute</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-header">
            <div class="card-title">Competências</div>
          </div>
          <div class="card-body">
            Java, Delphi 2010, Mysql, MongoDB, JavaScripty, Express, PHP
            <hr>
            Consultoria em Técnologia da Informação
            <hr>
            Manutenção de Computadores
            <hr>
            Treinamento em Informática Básica
          </div>
          <div class="card-footer">
            <button class="btn btn-primary">Solicitar Serviço</button>
          </div>
        </div>
        

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
      </div>
    </div>
  </div>
</div>